@charset "UTF-8";
body {
    background-color: #FECDCE;
}
##two {
    margin-left: 430px;
}

@media screen{
##one {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(151,242,165,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(151,242,165,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(151,242,165,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(151,242,165,1.00) 100%);
    background-color: #BEF7A5;
    width: 400px;
}
##one p img {
    width: 70%;
    height: 50%;
}
##two {
    background-color: #80F1FF;
    width: 400px;
}
##two img {
    width: 70%;
    height: 50%;
}
}
